body {
    width: 100vw;
    overflow-x: hidden;
}

header {
    padding: 25px;
    align-items: center;
}

.logo {
    font-family: 'Julius Sans One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
}

span {
    color: #FF9E0C;
}

a {
    text-decoration: none;
    color: black;
}

li {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 32px;

    list-style: none;
    color: #1D2130;
}

.login {
    margin-left: auto;
    width: 104px;
    height: 46px;
    color: white;
    border: 1px #ffffff solid;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0);
    z-index: +1;
}

nav {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}